@import "../../default/scss/var";

$c-action: #BF5244;
$c-text: #525252;
$c-blue: #2C5DAA;
$c-text-primary: $c-blue;
$c-link: $c-blue;
$c-link-hover: darken($c-blue, 10%);
$avail-bullet: #5C7412;
$avail-value: #517767;
$footer-bg: #0D4F5B;
$footer-links-bg: #0D4F5B;
$top-header-bg: #0D4F5B;
$button-top-color: #D25B4A;
$button-bottom-color: #B75042;
$home-block-price: #E76251;